/* Estilos para todo el proyecto */
.footer-txt{
    font-family: "Acme";
    color: whitesmoke;
   }
.icon-social{
    color: whitesmoke;
    background-color: unset;
}
.container-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 20px;
    background-color:#5e2e64 ;
}

.social-media{
    display: flex;
    gap: 15px;
}
.title-api{
    padding-top: 2%;
    font-family: 'Bebas Neue', sans-serif;
}
header{
    padding: 0px;
    background-image: url("static/imagenes/Beige-Vintage.png");
    text-align: right;
    background-size:cover;
    margin-bottom: 1%;
}
body {
    font-family: 'Acme', 'fuggles', 'Bangers';
    background-color: #f9f9f9;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: left;
    align-items: left;
}
.contenedor-centradoA {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contenedor-centradoB {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


p {
    font-family: 'fuggles', 'Bangers', 'Acme';
    /* background-color: #f9f9f9; */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #6b2f2f;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3e9ba;
    border-image: linear-gradient(#5e2e64,#7c794f, darkblue, CornflowerBlue) 1 ;
    border-width: 6px;
    border-style: solid;
    border-radius: 0.4em;
    font-family: 'Bangers';
}

table {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
    background-color: #f3e9ba;
    border-image: linear-gradient(#5e2e64,#7c794f, darkblue, CornflowerBlue) 1 ;
    border-width: 6px;
    border-style: solid;
    border-radius: 0.4em;
}


label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Bangers';
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    /* background-color: #bf6565; */
    background-color: #BF6565
}

button {
    padding: 8px;
    margin:4px;
    font-family: 'Bangers';
    background-color: #f1d3d3;
    color: #6b2f2f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 93%;
}

button:hover {
    /* background-color: #0056b3; */
    /* background-color: #cd7b00; */
    background-color: #BF6565
}

a {
    padding: 8px;
    margin:4px;
    font-family: 'Bangers';
    background-color: #f1d3d3;
    color: #6b2f2f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 93%;
    
}

a:hover {
    /* background-color: #cd7b00; */
    background-color: #BF6565;}
    

nav{
    display: flex;
    font-family: "bangers";
    color: #BF6565;
    justify-content: center;
    background-color: #F2EDEB;
    padding: 15px 20px;
    }

    nav a{
        
        padding: 10px 10px;
        text-align: center;
    }

    nav a:hover{
        /* background-color: #D9B918; */
        background-color: #BF6565
    }

    .portada{
        background-image: url(static/imagenes/LAGO\ DESIERTO\ SANTA\ CRUZ.jpg);
        background-size: COVER;
        background-repeat: no-repeat;

       
    }
   
 
